<section class="container-fluid mb-5">
  <h5 class="text-center mt-5 mb-5">
    Selecciona para cada campo de <strong class="jotform"> JOTFORM </strong>el
    campo de <strong class="bitrix24">{{ entityCrm }}</strong> en
    <strong class="bitrix24">BITRIX24</strong> que quieres relacionar del
    formulario
    <strong class="jotform">{{ titleFormJotform }}</strong>
  </h5>
  <div class="row mb-5 justify-content-around">
    <h4 class="col-md-5 text-center jotform">
      <strong>CAMPOS JOTFORM -  {{ titleFormJotform }}</strong>
    </h4>
    <h4 class="col-md-5 text-center bitrix24">
      <strong>CAMPOS {{ entityCrm }} BITRIX24</strong>
    </h4>
  </div>

  <div *ngFor="let fieldFormJotform of fieldsFormJotfor" class="row justify-content-around mb-4">
    <div *ngIf="!fieldFormJotform.hasOwnProperty('sublabels')" class="col-10 col-md-4 px-0">
      <div class="col-12 styleDivJotform">
        {{ fieldFormJotform.text }}
      </div>
    </div>

    <div class="row col-10 col-md-4 px-0" *ngIf="fieldFormJotform.hasOwnProperty('sublabels')">
      <div class="col-12 styleDivJotform my-2" *ngFor="let label of labelsProperties(fieldFormJotform.sublabels)">
        {{label.text}}
      </div>
    </div>


    <div class="col-10 col-md-4 p-0 mrginTopB24" *ngIf="!fieldFormJotform.hasOwnProperty('sublabels')">
      <!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
      <input
        class="form-control"
        list="datalistOptions1"
        placeholder="Selecciona el campo de B24..."
      />
      <datalist id="datalistOptions1">
        <option *ngFor="let fieldEntity of fieldsEntityCrm">
          {{
          fieldEntity.listLabel ? fieldEntity.listLabel : fieldEntity.title
          }}
        </option>
      </datalist>
    </div>

    <div *ngIf="fieldFormJotform.hasOwnProperty('sublabels')" class="col-10 col-md-4 p-0 ">
      <div class="col-12 p-0 mrginTopB24 my-2"
           *ngFor="let obj of labelsProperties(fieldFormJotform.sublabels), let i = index">
        <!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
        <input
          class="form-control"
          list="datalistOptions2"
          placeholder="Selecciona el campo de B24..."
          [id]="i"
        />
        <datalist id="datalistOptions2">
          <option *ngFor="let fieldEntity of fieldsEntityCrm">
            {{
            fieldEntity.listLabel ? fieldEntity.listLabel : fieldEntity.title
            }}
          </option>
        </datalist>
      </div>
    </div>

  </div>
</section>
