<form [formGroup]="formB24" (ngSubmit)="relationCreate()" class="container-fluid mb-5">
  <h5 class="text-center mt-5 mb-5">
    Selecciona para cada campo de <strong class="jotform"> JOTFORM </strong>el
    campo de <strong class="bitrix24">{{ entityCrm }}</strong> en
    <strong class="bitrix24">BITRIX24</strong> que quieres relacionar del
    formulario
    <strong class="jotform">{{ titleFormJotform }}</strong>
  </h5>
  <div class="row mb-5 justify-content-around">
    <h4 class="col-md-5 text-center jotform">
      <strong>CAMPOS JOTFORM - {{ titleFormJotform }}</strong>
    </h4>
    <h4 class="col-md-5 text-center bitrix24">
      <strong>CAMPOS {{ entityCrm }} BITRIX24</strong>
    </h4>
  </div>

  <div
    *ngFor="let fieldFormJotform of fieldsFormJotfor"
    class="row justify-content-around mb-4"
  >
    <div class="col-10 col-md-4 styleDivJotform">
      {{ fieldFormJotform.text }}
    </div>

    <div class="col-10 col-md-4 p-0 mrginTopB24">
      <!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
      <input *ngIf="fieldFormJotform"
        [id]="fieldFormJotform.fieldName"
        [formControlName]="fieldFormJotform.fieldName"
        class="form-control"
        list="datalistOptions"
        placeholder="Selecciona el campo de B24..."

      />
      <datalist id="datalistOptions">
        <option *ngFor="let fieldEntity of fieldsEntityCrmCopy" (selectionchange)="itemSelected(fieldsEntityCrm)">
          {{
          fieldEntity.listLabel ? fieldEntity.listLabel : fieldEntity.title
          }}
        </option>
      </datalist>
      <label *ngIf="!fieldFormJotform.validator">El campo no existe en B24</label>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-success">Enviar</button>
</form>
<div>{{formB24.value | json}}</div>
