<section class="imgFondo">
  <div class="mt-5 mb-5 text-center">
    <h5>
      <strong>FORMULARIOS ACTIVOS: </strong>Selecciona un formulario de
      <strong class="jotform">JOTFORM</strong> que quieras vincular a
      <strong class="bitrix24">BITRIX24</strong>
    </h5>
    <p>
      (<strong>Nota:</strong> Los formularios en azul ya se han vinculado previamente a Bitrix24)
    </p>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-between marginList mb-5">
      <div *ngFor="let form of jotformForms" class="col-12 col-md-4 mt-3">
        <button
          (click)="userClick(form)"
          type="button"
          class="btn btn-secondary col-12 col-md-4 w-75"
          [ngClass]="{
            formColorB24: form.itsRelated,
            formColorJotform: !form.itsRelated
          }"
        >
          {{ form.title }}
        </button>
      </div>
    </div>
  </div>
</section>
