
img{
    width: 100%;
}
.marginList{
  margin-left: 8%;
}
.formColorB24{
  background-color: #0051a3;
}
.formColorJotform{
  background-color: #f38632;
}
.formColorB24:hover {
  background-color: #003366;
}
.formColorJotform:hover {
  background-color: #d15d05;
}
@media  (max-width:800px){
  .marginList{
    margin-left: 20%;
  }
 }
